.body {
    width: 100%;
    float: left;
}

.menu {
    padding-top: 5%;
    padding-left: 2%;
    width: 20%;
    float: left;
    text-align: left;
    font-size: large;
    line-height: 100%;

    
}

.center {
    padding-top: 2%;
    font-size: large;
    line-height: 30%;
    width: 60%;
    float: left;

}

.slideshow {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    background-color: beige;
}

.current-pic {
    position: relative;
    z-index: 1;
    grid-column: 1/-1;
    grid-row: 1/-1;

}

.left-button {
    position: relative;
    z-index: 2;
    top: -74vh;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 30800%;
    cursor: w-resize;
    background-color: transparent;
    outline: none;
    border-width: 0;
}

.right-button {
    position: relative;
    z-index: 2;
    top: -74vh;
    height: 30800%;
    grid-column: 2/2;
    cursor: e-resize;
    background-color: transparent;
    outline: none;
    border-width: 0;
}


.top {
    line-height: 10%;
}

.bottom-left {
    padding-top: 1.5%;
    float: left;
    line-height: 10%;
}

.bottom-right {

    padding-top: 1.5%;

    float: right;

}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    object-fit: cover; 

}


.sidemenu {
    width: 20%;
    float: left;
    text-align: center;

}

.rollnum {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

